#banner {  
    margin-bottom: 50px;
}

#cover {  
    top: 0px; 
    left: 0px; 
    z-index: 1;
    width: 100%; 
}

#logo { 
    position: absolute; 
    top: 280px; 
    left: 145px; 
    z-index: 3; 
    max-width: 340px;
    max-height: 340px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255, 1, 37),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
} 

.main-btn {
    color: #fff;
    background-color: #ff0125;
    border-color: #ff0125;
}

.main-btn:hover {
    color: #222;
    background-color: #01ffdb;
    border-color: #ff0125;
}

.inverse-main-btn {
    color: #ff0125;
    background-color: #fff;
    border-color: #fff;    
}
.inverse-main-btn:hover {
    color: #222;
    background-color: #01ffdb;
    border-color: #222;
} 

.navbar{
    margin-bottom: 10px;
    background-color: #d6dce1 !important;
}

.navbar-light .navbar-nav .nav-link {
   color: #222;
}

.navbar-light .nav-item {
    padding: 0 6px;
}
 
#feed {
    height: 100%;
}

.feedposts {
    margin-bottom: 50px;
}


.feed-image {
    width: 100%;
    height: 55%;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

.aasha-red-bg {
    background-color: #ff0125;
}

.aasha-red-text {
    color: #ff0125;
}

.blog-text {
    margin-right: 3%;
}

.blog-author {
    opacity: 0.9;
    color: #4b4c4d;
    margin: 5px 0 5px;
}

/* FOOTER */

#footer {
    margin-top: 10px;
}

#footerbanner {
    width: 100%;
    height: auto;
}

.footer-basic {
    padding:40px 0 20px;
    background-color:#01ffdb;
    color:#4b4c4d;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    padding-bottom: 5px;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ff0125;
    margin:0 8px;
    color:inherit;
    opacity:1;
    color: #fff;
    background-color: #ff0125;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
    color: #ff0125;
    background-color: #fff;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:16px;
    color:#222;
    margin-bottom:0;
}

/* FOOTER */